[Unit]
Description=deputany service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=daemon
WorkingDirectory=/opt/deputany/db_api
ExecStart=/bin/python /opt/deputany/db_api/db_api.py

[Install]
WantedBy=multi-user.target
